{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ album.name }}</title>
    <link rel="stylesheet" href="{% static 'music/album.css' %}">
    <script src="{% static 'music/script.js' %}"></script>
</head>
<body>
    <img id="background-image" src={{ album.image_url }}>
    <div id="content_wrapper">
        <div id="topBar">
            <a class="topBarUrl" href="{% url 'index' %}">Home</a>
            <a class="topBarUrl" href="{% url 'index' %}">Recommendations</a>
            <a class="topBarUrl" href="{% url 'index' %}">Year</a>
            <a class="topBarUrl" href="{% url 'index' %}">Tags</a>
        </div>

        <div id="mainContent">
            <div id="albumCoverContainer">
                <img id="albumCover" src={{ album.image_url }} alt="{{ album.name }}" alt="img">
            </div>

            <div id="albumInfoContainer">
                <h1>{{ album.name }}</h1>
                <table id="albumInfoTable">
                    <tr>
                        <td>Artist</td>
                        <td><a class="artistUrl" href="{% url 'artists' album.artist_id %}">{{ album.artist }}</a></td>
                    </tr>
                    <tr>
                        <td>Released</td>
                        <td>{{ album.release_date }}</td>
                    </tr>
                    <tr>
                        <td id="num-track-col">No. tracks</td>
                        <td>{{ album.num_songs }}</td>
                    </tr>
                    <tr>
                        <td>Genres</td>
                        <td>{% for tag in tags %} <a class="tagUrl" href="{% url 'tag' tag.name %}">{{ tag.name }}, </a> {% endfor %}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>


{#    <input id="EditView" type="button" value="Edit" onclick="hideListItems()">#}

{#    <form method="post" action="{% url 'update_album' %}">#}
{#        <label style="display: none" for="album_name_edit">Album:</label>#}
{#        <input style="display: none" id="album_name_edit" name="album_name_edit" value="{{ album.name }}">#}
{#        <label style="display: none" for="artist_name_edit">Artist:</label>#}
{#        <input style="display: none" id="artist_name_edit" name="artist_name_edit" value="{{ album.artist }}">#}
{#        <label style="display: none" for="album_release_date_edit">Release date:</label>#}
{#        <input style="display: none" id="album_release_date_edit" type="date" value="{{ album.release_date }}">#}
{#        <label style="display: none" for="album_num_songs_edit">No. tracks</label>#}
{#        <input style="display: none" id="album_num_songs_edit" value="{{ album.num_songs }}">#}
{#    </form>#}

</body>
</html>