{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ album.name }}</title>
    <link rel="stylesheet" href="{% static 'music/album.css' %}">
    <script src="{% static 'music/script.js' %}"></script>
</head>
<body>
    <img id="background-image" src={{ album.image_url }}>
    <section id="content-wrapper">
        <div id="top-bar">
            <a class="top-bar-url" href="{% url 'index' %}">Home</a>
            <a class="top-bar-url" href="{% url 'index' %}">Recommendations</a>
            <a class="top-bar-url" href="{% url 'index' %}">My Logs</a>
        </div>

        <div id="main-content">
            <div id="album-cover-container">
                <img id="album-cover" src={{ album.image_url }} alt="{{ album.name }}" alt="img">
            </div>

            <div id="album-info-container">
                <h1>{{ album.name }}</h1>
                <input id="edit-button" type="button" value="Edit" onclick="editAlbumInfo()">
                <form method="post" action="">
                <table id="album-info-table">
                    <tr>
                        <td>Artist</td>
                        <td><a class="artist-url" href="{% url 'artists' album.artist_id %}">{{ album.artist }}</a></td>
                    </tr>
                    <tr>
                        <td>Released</td>
                        <td class="view-cell">{{ album.release_date }}</td>
                        <td><input style="display: none" class="edit-cell" type="date" value="{{ album.release_date|date:"Y-m-d"  }}"></td>
                    </tr>
                    <tr>
                        <td id="num-track-col">No. tracks</td>
                        <td class="view-cell">{{ album.num_songs }}</td>
                        <td><input style="display: none" class="edit-cell" type="number" value="{{ album.num_songs }}"></td>
                    </tr>
                    <tr>
                        <td>Genres</td>
                        <td>{% for tag in tags %} <a class="tag-url" href="{% url 'tag' tag.name %}">{{ tag.name }}, </a> {% endfor %}</td>
                    </tr>
                    <tr id="image-url-cell" style="display: none">
                        <td>Image Url</td>
                        <td><input class="edit-cell" type="text" value="{{ album.image_url }}"></td>
                    </tr>
                </table>
                </form>
                <input style="display: none" id="update-info-button" type="button" value="Update">
            </div>
        </div>
    </section>
</body>
</html>