{%  load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Logs</title>
    <link rel="stylesheet" href="{% static 'music/style.css' %}">
    <script src="{% static 'music/script.js' %}"></script>
</head>
<body>
    <section id="home-nav-bar">
        <a class="nav-bar-url" href="{% url 'index' %}">Home</a>
        <a class="nav-bar-url" href="{% url 'index' %}">Recommendations</a>
        <a class="nav-bar-url" href="{% url 'index' %}">My logs</a>
    </section>
    <section>
        <form method="get" action="{% url 'search' %}">
            <table>
                <tr>
                    <td><label for="album_name">Release:</label></td>
                    <td><input type="text" id="album_name" name="album_name"></td>
                </tr>
                <tr>
                    <td><label for="artist_name">Artist: </label></td>
                    <td><input type="text" id="artist_name" name="artist_name"></td>
                </tr>
            </table>
            <input type="submit" value="Search">
        </form>
    </section>

    <h2>So far you've listened to {{ count }} different albums</h2>

    <section id="homepage-main-content">
        {% if logged_albums %}
        <table id="album-log-table">
            <thead>
                <tr>
                    <th></th>
                    <th class="log_date_col">Date</th>
                    <th></th>
                    <th class="album_name_col">Album</th>
                    <th class="artist_name_col">Artist</th>
                    <th class="release_year_col">Year</th>
                </tr>
            </thead>

            {% for log in logged_albums %}
                <tr>
                    <td>
                        <form method="post" action="{% url 'delete' log.id %}">
                            {% csrf_token %}
                            <input type="submit" value="x">
                        </form>
                    </td>
                    <td>{{ log.logged_date }}</td>
                    <td><img class="logged_album_cover_art" alt="{{ log.album }}" src={{ log.album.image_url }}></td>
                    <td><a class="album-url" href="{% url 'albums' log.album_id %}">{{ log.album }}</a></td>
                    <td><a class="artist-url" href="{% url 'artists' log.artist_id %}">{{ log.artist.name }}</a></td>
                    <td>{{ log.album.release_date|date:"Y" }}</td>
                </tr>
            {% endfor %}
        </table>
        {% endif %}
        <aside>
            <strong><label for="user-note">Note</label></strong>
            <textarea id="user-note" placeholder="Enter your note here" rows="15" cols="30" data-height="50px"></textarea>
            <input type="button" value="Save">
        </aside>
    </section>
</body>
</html>