{%  load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Logs</title>
    <link rel="stylesheet" href="{% static 'music/style.css' %}">
    <script src="{% static 'music/script.js' %}"></script>
</head>
<body>
    <div id="content-wrapper">
        <section id="home-nav-bar">
            <a class="nav-bar-url" href="{% url 'index' %}">Home</a>
            <a class="nav-bar-url" href="{% url 'index' %}">Recommendations</a>
            <a class="nav-bar-url" href="{% url 'index' %}">My logs</a>
        </section>

        <section id="homepage-search-form">
            <form method="get" action="{% url 'search' %}">
                <table>
                    <tr>
                        <td><label for="album_name">Release:</label></td>
                        <td><input type="text" id="album_name" name="album_name" placeholder="E.g: Abbey Road" required></td>
                    </tr>
                    <tr>
                        <td><label for="artist_name">Artist: </label></td>
                        <td><input type="text" id="artist_name" name="artist_name" placeholder="E.g: The Beatles" required></td>
                    </tr>
                </table>
                <input type="submit" value="Search">
            </form>
        </section>

        <h2>So far you've listened to {{ count }} different album{{ count|pluralize }}</h2>
        <span style="margin-left: 25px">
        {% for i in page_range %}
            {% if i == page_num %}
                <a class="page-url" href="{% url 'log' %}?page={{ i }}" style="background-color: #006ed1; color: #d8dde6">{{ i }}</a>
            {% else %}
                {% if i == paginator.ELLIPSIS %}
                    <a>{{ paginator.ELLIPSIS }}</a>
                {% else %}
                    <a class="page-url" href="{% url 'log' %}?page={{ i }}">{{ i }}</a>
                {% endif %}
            {% endif %}
        {% endfor %}
        </span>
        <section id="homepage-main-content">
            {% if logged_albums %}
            <table id="album-log-table">
                <thead>
                    <tr>
                        <th></th>
                        <th class="log_date_col">Date</th>
                        <th></th>
                        <th class="album_name_col">Release</th>
                        <th class="artist_name_col">Artist</th>
                        <th class="release_year_col">Year</th>
                    </tr>
                </thead>

                {% for log in logged_albums %}
                    <tr class="entry-log-cell">
                        <td>
                            <form method="post" action="{% url 'delete' log.id %}">
                                {% csrf_token %}
                                <input id="delete-log-button" type="submit" value="X">
                            </form>
                        </td>
                        <td>{{ log.logged_date }}</td>
                        <td><img class="logged_album_cover_art" alt="{{ log.album }}" src={{ log.album.image_url }}></td>
                        <td><a class="album-url" href="{% url 'albums' log.album_id %}">{{ log.album }}</a></td>
                        <td><a class="artist-url" href="{% url 'artists' log.artist_id %}">{{ log.artist.name }}</a></td>
                        <td>{{ log.album.release_date|date:"Y" }}</td>
                    </tr>
                {% endfor %}
            </table>
            {% endif %}

            <aside>
                    <strong><label for="user-note">Note</label></strong>
                <form id="save-note-form" method="post" action="{% url 'save_note' %}">
                    {% csrf_token %}
                    <textarea id="user-note" name="user-note" placeholder="Enter your note here" rows="15" cols="30" data-height="50px">{{ user_note }}</textarea>
                    <input type="submit" value="Save">
                </form>
            </aside>

        </section>
    </div>
</body>
</html>