{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search result</title>
    <link rel="stylesheet" href="{% static 'music/search.css' %}">
    <script src="{% static 'music/script.js' %}"></script>
</head>
<body>
    <img id="background-image" src={{ image_url }}>
    {% if found_album %}
        <section id="search-result-content">
            <div id="search-result-cover-art-container">
                <img id="found-album-cover-art" src= {{ image_url }} alt="{{ found_album.album_name }}">
            </div>

            <section id="search-result-info-container">
                <form id="found-album-info-form" method="post" action="{% url 'add' found_album.album_id found_album.album_name found_album.artist_id found_album.artist_name %}">
                    {% csrf_token %}
                    <h2>{{ found_album.album_name }}</h2>
                    <table id="found-album-info-table">
                        <tr>
                            <td>Artist</td>
                            <td>{{ found_album.artist_name }}</td>
                        </tr>
                        <tr>
                            <td><label for="num_songs">No. Tracks</label></td>
                            <td><input type="number" id="num_songs" name="num_songs" value= {{ found_album.num_songs }}></td>
                        </tr>
                        <tr>
                            <td><label for="release_date">Release date</label></td>
                            <td><input type="date" id="release_date" name="release_date" value= {{ found_album.release_date|date:"Y-m-d" }}></td>
                        </tr>
                        <tr>
                            <td><label for="logged_date">Listened on</label></td>
                            <td><input type="date" id="logged_date" name="logged_date" required></td>
                        </tr>
                        <tr>
                            <td><label for="image_url">Image url</label></td>
                            <td><input type="text" id="image_url" name="image_url" value="{{ image_url }}" oninput="updateSearchResultImage()"></td>
                        </tr>
                    </table>
                    <input type="submit" value="Log">
                </form>
            </section>
        </section>
    {% endif %}
</body>
</html>