{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'music/tag.css' %}">
    <title>{{ tag }} - Music genre</title>
</head>
<body>
    <section id="content-wrapper">
        <nav id="home-nav-bar">
            <a class="nav-bar-url" href="{% url 'index' %}">Home</a>
        </nav>

        <section id="tag-album-list-container">
            <h2 style="margin-left: 15px">Genre: {{ tag }}</h2>
            <div id="album-grid">
                {% for album in albums %}
                    <div class="album-grid-item">
                        <a href="{% url 'albums' album.mbid %}"><img class="tag-album-cover" src={{ album.image_url }}></a>
                        <a class="album-url" href="{% url 'albums' album.mbid %}">{{ album.name }}</a>
                        <b><a class="artist-url" href="{% url 'artists' album.artist.mbid %}">{{ album.artist.name }}</a></b>
                    </div>
                {% endfor %}
            </div>
        </section>

    </section>
</body>
</html>