body {
    margin: 0 auto;
    background: rgba(24,34,54,.4);
    position: relative;
    display: flex;
    justify-content: center;
}

#background-image {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    filter: blur(100px);
    transform: scale(1.1);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#content-wrapper {
    width: 85%;
    position: absolute;
    background-color: #0b0e19;
}

#top-bar {
    display: flex;
    flex-direction: row;
    gap: 10px;
    background: #152238;

}

.nav-bar-url {
    color: #d8dde6;
    text-decoration: none;
    padding: 15px;
}

#main-content {
    display: flex;
    flex-direction: row;
}

#album-cover-container {
    width: 35%;
    height: 35%;
    background: #272a37;
    display: flex;
    justify-content: center;
    align-items: start;
}

#album-cover{
    width: 95%;
    height: 95%;
    padding: 5%;
    background: #272a37;
}

#album-info-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    margin-left: 2%;
    margin-right: 2%;
    color: #d8dde6;
}

#album-info-table {
    border-spacing: 0 0.5em;
    border-collapse: separate;
}

.cell-label {
    width: 100px;
    /*white-space:nowrap;*/
}

.artist-url, .tag-url {
    text-decoration: none;
    color: #84c5fb;
}

#edit-button, #update-info-button {
    width: fit-content;
}

.nav-bar-url:hover {
    background-color: #2c4062;
}

.tag-url:hover, .artist-url:hover, .nav-bar-url:hover {
    color: #d8dde6;
}