body {
    margin: 0 auto;
    background: rgba(24,34,54,.4);
    position: relative;
    display: flex;
    justify-content: center;
}

#background-image {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    filter: blur(100px);
    transform: scale(1.1);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#content_wrapper {
    width: 85%;
    position: absolute;
    background-color: #0b0e19;
}

#topBar {
    display: flex;
    flex-direction: row;
    gap: 10px;
    background: #152238;

}

.topBarUrl {
    color: #d8dde6;
    text-decoration: none;
    padding: 15px;
}

#mainContent {
    display: flex;
    flex-direction: row;
    height: 100%;
}

#albumCoverContainer {
    width: 35%;
    height: 35%;
    background: #272a37;
    display: flex;
    justify-content: center;
    align-items: start;
}

#albumCover{
    width: 95%;
    height: 95%;
    padding: 5%;
    background: #272a37;
}

#albumInfoContainer {
    width: 40%;
    display: flex;
    flex-direction: column;
    margin-left: 2%;
    margin-right: 2%;
    color: #d8dde6;

}

#albumInfoTable {
    border-spacing: 0 0.5em;
    border-collapse: separate;
}

.artistUrl, .tagUrl {
    text-decoration: none;
    color: #84c5fb;
}

#num-track-col {
    width: 25%;
}