body {
    margin-top: 0;
    background: rgba(24,34,54,.4);
    color: #d8dde6;
    font-size: 1rem;
}

h2 {
    font-size: 2rem;
}

#background-image {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    filter: blur(100px);
    transform: scale(1.1);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#search-result-content {
    width: 85%;
    margin: 0 auto;
    background-color: #0b0e19;
    position: relative;
    display: flex;
    flex-direction: row;
}

#search-result-cover-art-container {
    width: 35%;
    height: 35%;
    background: #272a37;
    display: flex;
    justify-content: center;
    align-items: start;
}

#search-result-info-container {
    width: 40%;
    display: flex;
    flex-direction: column;
    margin-left: 2%;
    margin-right: 2%;
    color: #d8dde6;
}

#found-album-cover-art {
    width: 95%;
    height: 95%;
    padding: 5%;
    background: #272a37;
}

#found-album-info-table {
    border-spacing: 0 0.5em;
    border-collapse: separate;
}
