body {
    display: flex;
    flex-direction: column;
    background: #0b0e19;
    color: #d8dde6;
    margin: 0 auto;
    align-items: center;
}

#content-wrapper {
    width: 85%;
    background: #0b1528;
}

#home-nav-bar {
    width: 85%;
    display: flex;
    flex-direction: row;
    gap: 10px;
    background: #152238;
    position: fixed;
    top: 0;
}

.nav-bar-url {
    color: #d8dde6;
    text-decoration: none;
    padding: 15px;
}

#homepage-search-form {
    margin-left: 15px;
    margin-top: 5%;
}

h2 {
    margin-left: 15px;
}

#homepage-main-content {
    margin-left: 15px;
    display: flex;
    flex-direction: row;
}

#album-log-table {
    width: 75%;
}

aside {
    margin-top: 0.3%;
    margin-left: 2%;
    display: flex;
    flex-direction: column;
    align-items: start;
}

#user-note {
    margin-top: 3%;
}

.album-url, .artist-url {
    color: #84c5fb;
    text-decoration: none;
}

.logged_album_cover_art {
    max-width: 50px;
    max-height: 50px;
}