.logged_album_cover_art {
    max-width: 50px;
    max-height: 50px;
}

.found_album_cover_art {
    max-width: 300px;
    max-height: 300px;
}

.log_date_col {
    width: 150px;
}

.album_name_col {
    width: 450px;
}

.artist_name_col {
    width: 250px;
}